.__point {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: tomato;
  font-weight: 600;
}

.find__point {
  position: absolute;
  top: 45px;
}
